In [36]:
import sys
print(sys.version)

3.5.3 |Anaconda 4.4.0 (x86_64)| (default, Mar  6 2017, 12:15:08)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]

In [37]:
# load dependencies
import pandas as pd
import io
import requests
import numpy as np
# reference: 
# https://stackoverflow.com/questions/32400867/pandas-read-csv-from-url

### Table of Content
1. [Goal of This Project](#section1)
2. [Golden Rule of Machine Learning](#section2)
3. [Exploratory Data Analysis](#section3)

<a id="section1"></a>
### Goal of This Project

I plan to go to Las Vegas with my undergrad buddies in June 2018. To ensure that we have a good time there, my goal is to find the best predictors that differentiate hotel scores based on user reviews. I will use my findings to book a hotel for our trip.

Data Source: [UCI Machine Learning Repository: Las Vegas Strip Data Set](http://archive.ics.uci.edu/ml/datasets/Las+Vegas+Strip)

<a id="section2"></a>
### Follow the "Golden Rule of Machine Learning"

Retrieve the data set from the source and set a side some data instances as a test set. Even before I start looking at the data.

In [52]:
# load the data
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/00397/LasVegasTripAdvisorReviews-Dataset.csv"
raw_dataframe = pd.read_csv(url, delimiter=';')
# reference:
# https://stackoverflow.com/questions/32400867/pandas-read-csv-from-url/41880513#41880513

# view the first 2 rows of raw data frame
raw_dataframe.head(2)

,User country,Nr. reviews,Nr. hotel reviews,Helpful votes,Score,Period of stay,Traveler type,Pool,Gym,Tennis court,Spa,Casino,Free internet,Hotel name,Hotel stars,Nr. rooms,User continent,Member years,Review month,Review weekday
0,USA,11,4,13,5,Dec-Feb,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,9,January,Thursday
1,USA,119,21,75,3,Dec-Feb,Business,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,3,January,Friday

In [53]:
# convert data frame to numpy array
raw_data = raw_dataframe.values

# shuffle the array (in case it is sorted)
np.random.seed(123)
np.random.shuffle(raw_data)

# split 2 sets
training_set = raw_data[:336]
test_set = raw_data[336:]

# take out the "score" label 
training_label = traing_set[]

In [54]:
# inspect the dimensions
training_set.shape

(336, 20)

In [58]:
test_set

array([['Canada', 14, 0, ..., 4, 'April', 'Tuesday'],
       ['Australia', 92, 12, ..., 2, 'September', 'Saturday'],
       ['USA', 2, 0, ..., 0, 'June', 'Wednesday'],
       ...,
       ['USA', 6, 5, ..., 4, 'June', 'Tuesday'],
       ['USA', 20, 9, ..., 8, 'December', 'Tuesday'],
       ['Hawaii', 9, 7, ..., 2, 'March', 'Tuesday']], dtype=object)

<a id="section1"></a>
### Exploratory data analysis

In [47]:
np.random.shuffle([1, 2, 3])

I should learn more about the data set then start my feature selection.